In [2]:
import soccerdata as sd

elo = sd.ClubElo()

[08/31/25 18:23:03] INFO     Saving cached data to /home/manati/soccerdata/data/ClubElo              ]8;id=302053;file:///home/manati/dataproject/dataenv/lib/python3.12/site-packages/soccerdata/_common.py\_common.py]8;;\:]8;id=738326;file:///home/manati/dataproject/dataenv/lib/python3.12/site-packages/soccerdata/_common.py#263\263]8;;\

In [3]:
elo.read_by_date()

,rank,country,level,elo,from,to,league
team,,,,,,,
Liverpool,1.0,ENG,1,2003.527344,2025-09-01,2025-09-14,ENG-Premier League
Arsenal,2.0,ENG,1,2002.376465,2025-09-01,2025-09-13,ENG-Premier League
Paris SG,3.0,FRA,1,1974.195068,2025-08-31,2025-09-14,FRA-Ligue 1
Barcelona,4.0,ESP,1,1953.104126,2025-09-01,2025-09-14,ESP-La Liga
Man City,5.0,ENG,1,1949.153809,2025-09-01,2025-09-14,ENG-Premier League
...,...,...,...,...,...,...,...
Atletic Club Escaldes,NaN,AND,0,944.222656,2025-08-01,2025-09-14,NaN
FCB Magpies,NaN,GIB,0,916.444519,2025-08-29,2025-09-14,NaN
SS Virtus,NaN,SMR,0,767.627747,2025-08-29,2025-09-14,NaN
Tre Fiori,NaN,SMR,0,736.193237,2025-08-29,2025-09-14,NaN
La Fiorita,NaN,SMR,0,716.190125,2025-08-29,2025-09-14,NaN

In [8]:
elo.read_team_history(team = 'Chelsea')

            rank     team country  level          elo         to
from
1946-07-07   NaN  Chelsea     ENG      1  1551.140259 1946-08-31
1946-09-01   NaN  Chelsea     ENG      1  1556.314697 1946-09-04
1946-09-05   NaN  Chelsea     ENG      1  1538.790405 1946-09-07
1946-09-08   NaN  Chelsea     ENG      1  1530.124756 1946-09-09
1946-09-10   NaN  Chelsea     ENG      1  1533.388550 1946-09-14
...          ...      ...     ...    ...          ...        ...
2025-08-23   9.0  Chelsea     ENG      1  1909.530640 2025-08-28
2025-08-29   9.0  Chelsea     ENG      1  1909.717651 2025-08-30
2025-08-31   9.0  Chelsea     ENG      1  1909.717651 2025-09-13
2025-09-14   9.0  Chelsea     ENG      1  1909.717651 2025-09-14
2025-09-15   9.0  Chelsea     ENG      1  1909.717651 2025-12-31

[6314 rows x 6 columns]